@model MvcApplication2.Models.TouristAttraction

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>TouristAttraction</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.RouteLink("Back to List","Default",new {Controller="Attraction", action="Index"})
    </p>
}
@section Scripts {    
    <script type="text/javascript" src="~/Scripts/EFSpatialGoogleMaps.js"/></script>
}

